
h1{color:blue}
p{font-size: 20px;
font-family:cursive;
}
body{
background-image: url("https://1.bp.blogspot.com/-0UZs450t6WM/V2PI6WSnFjI/AAAAAAAA3SA/JEHapxN7q6kjFTujzxW0hUXPAUS7OzL_ACLcB/s1600/tumblr_n0up345SDq1qdef81o3_250.gif")

  }
#name {font-size: 60px;
font-family: Lucida Console, Courier, monospace;
background-color: blue;
color:black;
}
